<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Book List Page</title>
	</head
	<body>
		<h1>Book Lists</h1>
		<p> List of books</p>

		<table>
			{{#rows}}
			<tr>
				<td>{{entry_id}}</td>
				<td>{{text}}</td>
				<td>{{complete}}</td>
			</tr>
			{{/rows}}
		</table>
	</body>
	</html>
